TileTypes (
    types: [
        TileProperties (
            system_name: "air",
            display_name: "Air",
            rendered: false,
            lighting: White (intensity: 8)
        ),
        TileProperties (
            system_name: "stone",
            display_name: "Stone",
        ),
    ]
)